.App {
  text-align: center;
  /* min-height: 90vh; */
}

* {
  box-sizing: border-box;
}

.App-header {
  background-color: #26001B;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  color: #ffeb3b;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 3px solid #ffeb3b;
  border-radius: 10%;
  margin: 10px;
}

.trending-table, .search-table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.favorites-table {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #00918E;
  color: white;
}

th {
  background-color: bisque;
  font-weight: 700;
  font-size: 16px;
  width: 150px;
  padding: 5px 0px;
}

td {
  border-top: 1px solid black;
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
  min-width: 280px;
}

.SearchBar {
  text-align: center;
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  width: 300px;
}

input::placeholder {
  opacity: 0.7;
}

footer {
  margin-top: 50px;
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media (min-width: 441px) and (max-width: 600px) {

  h1 {
    font-size: 32px;
  }

  .header-button {
    width: 60px;
    height: 60px;
  }

  td, th {
    font-size: 14px;
  }

  td > img {
    width: 25px;
  }

  .favFab {
    width: 36px !important;
    height: 36px !important;
  }

  .favIcon {
    width: 20px !important;
    height: 20px !important;
  }

  .header-icon {
    width: 32px !important;
    height: 32px !important;
    color: yellow;
  }

  .SearchBar {
    margin-top: 20px;
    height: 30px;
    font-size: 14px;
    width: 200px;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 24px;
  }

  .header-button {
    width: 50px;
    height: 50px;
  }

  td, th {
    font-size: 12px;
  }

  td > img {
    width: 16px;
  }

  .favFab {
    width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
  }

  .favIcon {
    width: 16px !important;
    height: 16px !important;
  }

  .header-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .SearchBar {
    margin-top: 20px;
    height: 24px;
    font-size: 12px;
    width: 200px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 20px;
  }

  .header-button {
    width: 40px;
    height: 40px;
  }

  td, th {
    font-size: 10px;
  }

  td > img {
    width: 16px;
  }

  .favFab {
    width: 24px !important;
    height: 24px !important;
    min-height: 24px !important;
  }

  .favIcon {
    width: 16px !important;
    height: 16px !important;
  }

  .header-icon {
    width: 24px !important;
    height: 24px !important;
  }

  .SearchBar {
    margin-top: 20px;
    height: 24px;
    font-size: 12px;
    width: 200px;
  }

  footer {
    font-size: 12px;
  }
}
