.App {
  text-align: center;
  min-height: 90vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: yellow;
}

nav ul {
  text-align: center;
  list-style-type: none;
}

/* 
footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
} */


